# Dependencies
node_modules/
package-lock.json

# Build
dist/
build/

# Test
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db 